#event {
  a: b;
}
#event div {
  a: b;
}
#event div h2 {
  a: b;
}
#event div ul {
  a: b;
}
#event div ul li {
  a: b;
}
#event div ul li a {
  a: b;
}
#event div ul li a h3 {
  a: b;
}
#event div ul li a p {
  a: b;
}