#footer {
  a: b;
}
#footer div {
  a: b;
}
#footer div ul.f1 {
  a: b;
}
#footer div ul.f1 li {
  a: b;
}
#footer div ul.f2 {
  a: b;
}
#footer div ul.f2 li {
  a: b;
}
#footer div ul.f3 {
  a: b;
}
#footer div ul.f3 li {
  a: b;
}
#footer div address {
  a: b;
}
#footer div p {
  a: b;
}
#footer div ul.f4 {
  a: b;
}
#footer div ul.f4 li {
  a: b;
}
#footer div ul.f4 li a {
  a: b;
}