#godlist {
  a: b;
}
#godlist div.wrap1 {
  a: b;
}
#godlist div.wrap1 h2 {
  a: b;
}
#godlist div.wrap1 div.wrap2 {
  a: b;
}
#godlist div.wrap1 div.wrap2 h3 {
  a: b;
}
#godlist div.wrap1 div.wrap2 p {
  a: b;
}
#godlist div.wrap1 div.wrap2 p a {
  a: b;
}
#godlist div.wrap1 ul {
  a: b;
}
#godlist div.wrap1 ul li {
  a: b;
}
#godlist div.wrap1 ul li a {
  a: b;
}
#godlist div.wrap1 ul li a h3 {
  a: b;
}
#godlist div.wrap1 ul li a p {
  a: b;
}