#sale {
  a: b;
}
#sale div {
  a: b;
}
#sale div h2 {
  a: b;
}
#sale div ul.f1 {
  a: b;
}
#sale div ul.f1 li {
  a: b;
}
#sale div ul.f1 li ul.f1sub {
  a: b;
}
#sale div ul.f1 li ul.f1sub li {
  a: b;
}
#sale div ul.f1 li ul.f1sub li a {
  a: b;
}
#sale div ul.f1 li ul.f1sub li a h3 {
  a: b;
}
#sale div ul.f1 li ul.f1sub li a h4 {
  a: b;
}